<header ng-include="'js/views/includes/header.html'"></header>
<div class="row">
    <div class="col">
        <div class="py-3"></div>
        <div class="py-3"></div>
        <div class="jumbotron">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>
            {{user.name}}
        </h2>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
            euismod. Donec sed odio dui.
        </p>
        <p>
            <a class="btn" href="#">View details »</a>
        </p>
    </div>
</div>
<footer ng-include="'js/views/includes/footer.html'"></footer>
